html {
	position: relative;
}

body {
	font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
	color: #333;
	overflow-x: hidden;
}

div {
	box-sizing: border-box;
}

figcaption {
	margin-top: 7px;
	line-height: 1.1;
	font-size: 15px;
	color: #666;
	width: 645px;
}

figcaption span {
	font-size: 12px;
	color: #999;
}

article {
	margin-top: 50px;
}

p {
	margin-top: 15px;
	font-size: 17px;
	line-height: 25px;
	word-wrap: break-word;
	width: 570px;
}

span {
	display: inline-block;
	padding-left: 5px;
}

h1 {
	width: 1125px;
	font-size: 35px;
	font-weight: 900;
	font-style: italic;
	margin: 30px 0 10px 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #e2e2e2;
}

h6 {
	font-weight: bold;
	font-size: 13.5px;
}

.fixed {
	position: fixed;
	height: 48px;
	left: 30px;
	right: 0;
	border: 1px solid #e2e2e2;
	border-left: 0;
	background-color: #fff;
	z-index: 9;
}

.nav-left {
	margin-top: 10px;
	float: left;
}

.side {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 30px;
	box-shadow: inset -4px 0 4px 0 rgba(25,25,25,0.04);
}

.nav-left div {
	height: 30px;
	margin-right: -5px;
	box-sizing: border-box;
	font-size: 11px;
	font-weight: 900;
	padding: 8px;
	float: left;
	border-radius: 3px;
}

.home {
	width: 75px;
}

.search {
	width: 85px;
}

.sections {
	height: 30px;
	width: 104px;
	border: 1px solid #e2e2e2;
	margin-left: -12px;
	background-color: #fff;
	box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06),inset -1px -1px 1px 0 rgba(0,0,0,0.02);
}

.nav-left div:hover {
	cursor: pointer;
	background-color: #f4f5f2;
}

.home, .search {
	margin-left: 20px; 
}

.mg {
	width: 13px;
	margin-bottom: -3px;
}

.ng {
	margin-bottom: -4px;
}

.nav-middle {
	width: 185px;
	margin: auto;
	margin-top: 10px;
}

.logo {
	width: 185px;
	height: 26px;
}

.nav-right {
	color: #fff;
	margin-top: -30px;
	float: right;
	width: 260px;
}

.gear {
	margin-top: 5px;
	width: 18px;
}

.subs, .login {
	box-sizing: border-box;
	font-size: 12px;
	height: 30px;
	font-weight: 700;
	border: 1px solid #4d7b9f;
	background-color: #6288a5;
	margin-right: 15px;
	padding: 8px;
	border-radius: 3px;
	letter-spacing: -0.5px;
}

.subs:hover, .login:hover {
	cursor: pointer;
	background-color: #326891;
}

.subs, .login, .settings {
	float: left;
}

.settings {
	height: 30px;
	width: 30px;
	padding-left: 5px;
	border: 1px solid transparent;
	border-radius: 3px;
	margin-left: -7px;
}

.settings:hover {
	background-color: #f4f5f2;
}

.no-fixed {
	box-sizing: border-box;
	position: relative;
	height: 83px;
	top: 48px;
	left: 30px;
	border: 1px solid #e2e2e2;
	padding: 5px;
	border-top: 0;
	border-left: 0;
	box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06),inset -1px -1px 1px 0 rgba(0,0,0,0.02);
}

.no-fixed a {
	color: #000;
}

.no-fixed a:hover {
	text-decoration: underline;
}

.news {
	display: inline-block;
	width: 245px;
	height: 75px;
	border-right: 1px solid #e2e2e2;
}

.num {
	display: inline-block;
	font-size: 24px;
	width: 18px;
	margin-top: 3px;
	vertical-align: top;
}

.newspic {
	display: inline-block;
	width: 60px;
	margin: 7px;
}

.newstext {
	box-sizing: border-box;
	margin-top: 3px;
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	word-wrap: break-word;
	width: 130px;
	vertical-align: top;
}

.right {
	position: fixed;
	width: 35px;
	height: 75px;
	top: 45%;
	right: 0;
	border-radius: 5px 0 0 5px;
	border: 1px solid #e2e2e2;
	border-right: none;
	padding: 15px 0;
	background: #f4f5f2 url("../img/arrow-gray.svg") no-repeat center;
	z-index: 1;
	cursor: pointer;
	transition: width 0.1s;
}

.right:hover { 
	padding: 5px 15px 0 5px;
	background: #f4f5f2 url("../img/arrow-black.svg") no-repeat right;
	width: 300px;
}

.content a {
	display: none;
	color: #333;
	font-size: 15px;
	margin-right: 15px;
}

.right:hover .content a {
	display: inline-block;
}

.comments {
	position: absolute;
	width: 360px;
	height: 300px;
	right: 70px;
	top: 20%;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	padding-top: 10px;
	z-index: 1;
	cursor: pointer;
}

.recent {
	color: #326891;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	vertical-align: 10px;
}

.speech {
	width: 25px;
	height: 25px;
	display: inline-block;
}

.comments p {
	margin-top: 0;
}

.comment {
	margin-top: 10px;
}

.name {
	padding-left: 0;
	font-weight: bold;
	font-size: 13px;
}

.date {
	font-size: 12px;
	color: #999;
}

.main-comment {
	margin-top: 0;
	font-size: 14px;
	color: #666;
	width: 360px;
	line-height: 15px;
}

.main {
	box-sizing: border-box;
	position: relative;
	top: 48px;
	left: 30px;
	right: 0;
	padding: 130px 130px 50px 130px;
}

.credit {
	display: inline-block;
	margin-top: 5px;
	font-size: 12px;
	color: #000;
}

.credit span {
	font-weight: bold;
}
.credit a {
	color: #000;
	text-decoration: none;
}

.credit a:hover {
	text-decoration: underline;
}

.social {
	float: right;
	margin-top: 5px;
}

.bubble {
	background-image: url("../img/bubble.png");
	float: right;
	width: 40px;
	height: 29px;
	margin-left: 9px;
	display: inline-block;
}

.twit, .face, .email, .arrow, .ribbon {
	display: inline-block;
	margin-left: 13px;
	width: 25px;
	height: 25px;
}

.face {
	background-image: url(../img/facebook.svg);
}

.face:hover {
	background-image: url(../img/facebook_blue.svg);
}

.twit {
	background-image: url(../img/twitter.svg);
}

.twit:hover {
	background-image: url(../img/twitter_blue.svg);
}

.email {
	background-image: url(../img/email.svg);
}

.email:hover {
	background-image: url(../img/email_gray.svg);
}

.arrow {
	background-image: url(../img/arrow.svg);
	
}

.arrow:hover {
	background-image: url(../img/arrow_gray.svg);
}

.ribbon {
	background-image: url(../img/ribbon_white.svg); 
}

.ribbon:hover {
	background-image: url(../img/ribbon_gray.svg);
}

.cosmos {
	margin-top: -15px;
	width: 1125px;
	height: 633px;
}

.first, .second, .theory, .video {
	margin-top: 40px;
	margin-left: -75px;
}

.bicep-pic {
	width: 645px;
	height: 431px;
}

.theory {
	position: relative;
	width: 945px;
	padding-top: 15px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.theory h3 {
	font-size: 20px;
	font-weight: bold;
}

.theory-pic {
	width: 945px;
	height: 576px;
}

.article-header {
	width: 1125px;
	margin-left: -75px;
	border-top: 1px solid #111;
}

.topic {
	margin-top: 2px;
}

.topic a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	font-size: 13px;
}

.adv {
	width: 728px;
	margin: auto;
	margin-top: -115px;
	margin-bottom: 13px;
}

.adv-bottom {
	margin-top: 20px;
}

.body {
	color: #326891;
}

footer {
	clear: both;
	box-sizing: border-box;
	position: relative;
	bottom: 30px;
	left: 30px;
	right: 0;
	height: 410px;
	padding: 10px 90px;
	color: #111;
}

.logo-container {
	width: 100%;
	margin: auto;
	border-top: 3px double #e2e2e2;
	margin-bottom: 10px;
}

.container {
	margin-top: 30px;
}

.container div {
	float: left;
	width: 170px;
	height: 327px;
	font-size: 14px;
}

.list li {
	margin-top: 10px;
}

.list li a, .up li a, .middle li a, .down li a {
	text-decoration: none;
	color: inherit;
}

.right-side {
	float: right;
	width: 200px;
	height: 327px;
	border-left: 1px solid #e2e2e2;
	padding-left: 10px;
}

.up li {
	margin-top: 10px;
	font-weight: bold;
	font-size: 17px;
}

.middle {
	margin-top: 15px;
	margin-bottom: 10px;
}

.middle li, .down li {
	font-size: 12px;
	margin-top: 5px;
}

.down {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #e2e2e2;
}

.bottom {
	position: relative;
	bottom: 0;
	right: 0;
	left: 30px;
	height: 30px;
	font-size: 12px;
	padding: 8px 90px 30px 90px;
}

.bottom-container {
	width: 100%;
	margin: auto;
	border-top: 1px solid #e2e2e2;
	margin-bottom: 8px;
}

.left-list {
	float: left;
}

.left-list li a, .right-list li a{
	text-decoration: none;
	color: #999;
}

.right-list {
	float: right;
}

.left-list li, .right-list li {
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #e2e2e2;
}

.left-list li:last-child, .right-list li:last-child {
	border: 0;
}

.theory p {
	margin-top: 7px;
	width: 945px;
	line-height: 1.1;
	font-size: 15px;
	color: #666;
}

.summary-container {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	width: 1200px;
	height: 400px;
}

.summary-top, .summary-bottom {
	display: inline-block;
	width: 200px;;
	margin-right: 40px;
}

.summary-top {
	margin-top: 220px;
}

.summary-bottom {
	margin-top: 145px;
}

.summary-top p span, .summary-bottom p span {
	padding: 0;
	font-size: 12px;
	font-weight: bold;
}

.summary-top p, .summary-bottom p {
	vertical-align: top;
	display: inline-block;
	margin-top: 0;
	font-size: 14px;
	line-height: 17px;
	word-wrap: break-word;
	width: 230px;
	color: #000;
}

.summary-credit {
	padding-left: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	color: #999;
	font-size: 12px;
}

.more-trending {
	margin-top: 50px;
	height: 920px;
}

.more {
	float: left;
	width: 705px;
	height: 500px;
	margin-left: 80px;
	border-top: 1px solid #e2e2e2;
	padding-top: 10px;
}

.more-detail {
	float: left;
	width: 210px;
	height: 218px;
	margin-right: 35px;
}

.more-detail:nth-of-type(3n+0) {
	margin-right: 0;
}

.more-container {
	margin-top: 10px;
}

.more img {
	width: 210px;
	height: 140px;
}

.more h2 {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
}

.more h3 {
	width: 210px;
	vertical-align: top;
	font-weight: bold;
}

.more a {
	color: inherit;
	text-decoration: none;
}

.more a:hover {
	text-decoration: underline;
}

.next {
	text-decoration: none;
	color: #6288a5;
	float: right;
	font-size: 12px;
}

small {
	display: inline-block;
	font-size: 12px;
	width: 570px;
	margin-top: 5px;
	color: #999;
}

small a {
	text-decoration: none;
	padding: 0 3px;
	border-right: 1px solid #999;
	color: inherit;
}

small a:last-child {
	border-right: 0;
}

small a:hover {
	text-decoration: underline;
}

.trending {
	width: 360px;
	float: right;
	margin-right: 70px;
	padding-top: 10px;
	border-top: 1px solid #e2e2e2;
}

.trending h3 {
	font-size: 14px;
	font-weight: bold;
}

.trending ol {
	margin-left: 20px;
	list-style-type: decimal;
}

.trending ol li {
	padding: 10px 0 10px 10px;
	width: 330px;
	height: 30px;
	border-bottom: 1px solid #f3f3f3;
}

.trending ol li a {
	color: #326891;
	text-decoration: none;
}

.trending ol li a:hover {
	text-decoration: underline;
}

.trending img {
	width: 40px;
	height: 40px;
	margin-top: -35px;
	margin-left: 20px;
	float: right;
}

.trending-text {
	vertical-align: middle;
	width: 290px;
	display: inline-block;
	font-size: 15px;
	margin-top: 0px;
	line-height: 15px;
}

.trending small {
	color: #326891;
}

.recommended {
	width: 705px;
	height: 250px;
	margin-left: 80px;
	border-top: 1px solid #e2e2e2;
	padding-top: 10px;
	clear: left;
}

.recommended-container {
	margin-top: 5px;
	width: 705px;
}

.recommended-container div {
	float: left;
	width: 210px;
	height: 218px;
	margin-right: 35px;
}

.recommended div:last-child {
	margin-right: 0;
}

.recommended p {
	width: 210px;
	line-height: 15px;
	font-size: 14px;
	color: #666;
}

.recommended h2 {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	clear: both;
}

.recommended h4 {
	font-size: 24px;
	color: #000;
}

.recommended a {
	color: inherit;
	text-decoration: none;
}

.recommended a:hover {
	text-decoration: underline;
}

.recommended span {
	padding-left: 0;
	width: 210px;
	line-height: 17px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}