body {
	font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
	color: #333;
}

.fixed {
	position: fixed;
	height: 45px;
	left: 28px;
	right: 0;
	border: 1px solid #e2e2e2;
}

.nav-middle {
	width: 185px;
	margin: auto;
	margin-top: 10px;
}

.logo {
	width: 185px;
	height: 26px;
}

.nav-right {
	float: right;
}